@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

//This works with browser user preferences, uncomment when needed
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "TAN Meringue";
  src: url("/resources/Fonts/TAN%20MERINGUE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
