@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-red: #641212;
  --cream: #e2b4b4;
  --green: #91b28f;
  --dark: #332c2c;
  --light: #f8f4f1;
}

//This works with browser user preferences, uncomment when needed
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "TAN Meringue";
  src: url("/resources/Fonts/TAN%20MERINGUE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Thasadith-bold";
  src: url("/resources/Fonts/Thasadith-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Thasadith-bold-italic";
  src: url("/resources/Fonts/Thasadith-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Thasadith-italic";
  src: url("/resources/Fonts/Thasadith-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Thasadith";
  src: url("/resources/Fonts/Thasadith-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "coralThin";
  src: url("/resources/Fonts/TT-Corals-Trial-Thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "coralLight";
  src: url("/resources/Fonts/TT-Corals-Trial-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "coralRegular";
  src: url("/resources/Fonts/TT-Corals-Trial-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "archivoBlack";
  src: url("/resources/Fonts/Archivo_Black/ArchivoBlack-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aristotelicaPro";
  src: url("/resources/Fonts/aristotelica/AristotelicaSmallCaps-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ballpoint";
  src: url("/resources/Fonts/ballpoint/Ballpoint.otf") format("openType");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
